# **PREPROCESSING**

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv("nba2k-full.csv")
data

,full_name,rating,jersey,team,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak,college,version
0,LeBron James,97,#23,Los Angeles Lakers,F,12/30/84,6-9 / 2.06,250 lbs. / 113.4 kg.,$37436858,USA,2003,1,1,NaN,NBA2k20
1,Kawhi Leonard,97,#2,Los Angeles Clippers,F,06/29/91,6-7 / 2.01,225 lbs. / 102.1 kg.,$32742000,USA,2011,1,15,San Diego State,NBA2k20
2,Giannis Antetokounmpo,96,#34,Milwaukee Bucks,F-G,12/06/94,6-11 / 2.11,242 lbs. / 109.8 kg.,$25842697,Greece,2013,1,15,NaN,NBA2k20
3,Kevin Durant,96,#7,Brooklyn Nets,F,09/29/88,6-10 / 2.08,230 lbs. / 104.3 kg.,$37199000,USA,2007,1,2,Texas,NBA2k20
4,James Harden,96,#13,Houston Rockets,G,08/26/89,6-5 / 1.96,220 lbs. / 99.8 kg.,$38199000,USA,2009,1,3,Arizona State,NBA2k20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,Chris Paul,88,#3,Oklahoma City Thunder,G,05/06/85,6-1 / 1.85,175 lbs. / 79.4 kg.,$41358814,USA,2005,1,4,Wake Forest,NBA2k21
460,Bradley Beal,88,#3,Washington Wizards,G,06/28/93,6-3 / 1.91,207 lbs. / 93.9 kg.,$28751774,USA,2012,1,3,Florida,NBA2k21
461,Rudy Gobert,87,#27,Utah Jazz,C,06/26/92,7-1 / 2.16,238 lbs. / 108 kg.,$27525281,France,2013,1,27,NaN,NBA2k21
462,Kyle Lowry,87,#7,Toronto Raptors,G,03/25/86,6-0 / 1.83,205 lbs. / 93 kg.,$30500000,USA,2006,1,24,Villanova,NBA2k21
463,Kristaps Porzingis,87,#6,Dallas Mavericks,F-C,08/02/95,7-3 / 2.21,220 lbs. / 99.8 kg.,$29467800,Latvia,2015,1,4,NaN,NBA2k21

In [3]:
data['jersey'] = data['jersey'].str.replace('#', '').astype(int)
data['jersey']

0      23
1       2
2      34
3       7
4      13
       ..
459     3
460     3
461    27
462     7
463     6
Name: jersey, Length: 464, dtype: int32

In [4]:
data['salary'] = data['salary'].str.replace('$', '').astype(int)
data['salary']

C:\Users\rahul\AppData\Local\Temp\ipykernel_20764\2984654512.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['salary'] = data['salary'].str.replace('$', '').astype(int)

0      37436858
1      32742000
2      25842697
3      37199000
4      38199000
         ...
459    41358814
460    28751774
461    27525281
462    30500000
463    29467800
Name: salary, Length: 464, dtype: int32

In [5]:
data['height'] = data['height'].str.split('/').str[1].astype(float)
data['height']

0      2.06
1      2.01
2      2.11
3      2.08
4      1.96
       ...
459    1.85
460    1.91
461    2.16
462    1.83
463    2.21
Name: height, Length: 464, dtype: float64

In [7]:
data['weight'] = data['weight'].str.split('/').str[1]
data['weight']

0       113.4 kg.
1       102.1 kg.
2       109.8 kg.
3       104.3 kg.
4        99.8 kg.
          ...
459      79.4 kg.
460      93.9 kg.
461       108 kg.
462        93 kg.
463      99.8 kg.
Name: weight, Length: 464, dtype: object

In [8]:
data['weight'] = data['weight'].str.replace('kg.','').astype(float)
data['weight']

C:\Users\rahul\AppData\Local\Temp\ipykernel_20764\1060521108.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['weight'] = data['weight'].str.replace('kg.','').astype(float)

0      113.4
1      102.1
2      109.8
3      104.3
4       99.8
       ...
459     79.4
460     93.9
461    108.0
462     93.0
463     99.8
Name: weight, Length: 464, dtype: float64

In [9]:
import datetime

def calculate_age(birth_date):
    birth_date_obj = datetime.datetime.strptime(birth_date, '%m/%d/%y')
    
    current_date = datetime.date.today()
    
    age = current_date.year - birth_date_obj.year - ((current_date.month, current_date.day) < (birth_date_obj.month, birth_date_obj.day))
    
    return age

In [11]:
data['age'] = data['b_day'].apply(calculate_age)
data['age']

0      39
1      32
2      29
3      35
4      34
       ..
459    38
460    30
461    31
462    38
463    28
Name: age, Length: 464, dtype: int64

In [12]:
data

,full_name,rating,jersey,team,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak,college,version,age
0,LeBron James,97,23,Los Angeles Lakers,F,12/30/84,2.06,113.4,37436858,USA,2003,1,1,NaN,NBA2k20,39
1,Kawhi Leonard,97,2,Los Angeles Clippers,F,06/29/91,2.01,102.1,32742000,USA,2011,1,15,San Diego State,NBA2k20,32
2,Giannis Antetokounmpo,96,34,Milwaukee Bucks,F-G,12/06/94,2.11,109.8,25842697,Greece,2013,1,15,NaN,NBA2k20,29
3,Kevin Durant,96,7,Brooklyn Nets,F,09/29/88,2.08,104.3,37199000,USA,2007,1,2,Texas,NBA2k20,35
4,James Harden,96,13,Houston Rockets,G,08/26/89,1.96,99.8,38199000,USA,2009,1,3,Arizona State,NBA2k20,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,Chris Paul,88,3,Oklahoma City Thunder,G,05/06/85,1.85,79.4,41358814,USA,2005,1,4,Wake Forest,NBA2k21,38
460,Bradley Beal,88,3,Washington Wizards,G,06/28/93,1.91,93.9,28751774,USA,2012,1,3,Florida,NBA2k21,30
461,Rudy Gobert,87,27,Utah Jazz,C,06/26/92,2.16,108.0,27525281,France,2013,1,27,NaN,NBA2k21,31
462,Kyle Lowry,87,7,Toronto Raptors,G,03/25/86,1.83,93.0,30500000,USA,2006,1,24,Villanova,NBA2k21,38
463,Kristaps Porzingis,87,6,Dallas Mavericks,F-C,08/02/95,2.21,99.8,29467800,Latvia,2015,1,4,NaN,NBA2k21,28

In [13]:
data.to_csv("data.csv", index=False)

In [14]:
data['BMI'] = data['weight'] / (data['height'] ** 2)
data['BMI']

0      26.722594
1      25.271652
2      24.662519
3      24.107803
4      25.978759
         ...
459    23.199416
460    25.739426
461    23.148148
462    27.770313
463    20.433652
Name: BMI, Length: 464, dtype: float64

In [15]:
data.to_csv("data.csv", index=False)